@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);

  --radius-lg: 20px;
  --radius-sm: 10px;
  --font-family: "Figtree", sans-serif;

  --space-300: 24px;
  --space-150: 12px;
  --space-100: 8px;
  --space-50: 4px;

  --text-preset-1: 24px;
  --text-preset-2: 16px;
  --text-preset-3: 14px;

  --line-preset: 1.5;

  --preset-1-weight-extrabold: 800;
  --preset-2-weight-medium: 500;
  --preset-3-weight-medium: 500;
  --preset-3-weight-extrabold: 800;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:"Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--gray-950);
  background: var(--yellow);
  color: var(--gray-950);
}

.container {
  background: var(--white);
  border-radius: var(--radius-lg);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 384px;
  min-height: 522px;
  border: 1px solid var(--gray-950);
  box-shadow: var(--space-100) var(--space-100) black;

}

.card-image {
  border-radius: var(--radius-sm);
  margin: var(--space-300);
  margin-bottom: 0;
  overflow: hidden;
}
.container .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
    margin: var(--space-300);
    margin-bottom: 0;
}
.content .tag {
    display: inline-block;
    background: var(--yellow);
    font-size:var(--text-preset-3) ;
    font-weight: var(--preset-3-weight-extrabold);
    border-radius: var(--space-50);
    padding: var(--space-50) var(--space-150);
    line-height: var(--line-preset);
    
}

.content .publish-date {
    font-size: var(--text-preset-3);
    margin: var(--space-150) 0;
    font-weight: var(--preset-2-weight-medium);
    
}

.content h2 {
    font-size: var(--text-preset-1);
    font-weight: var(--preset-1-weight-extrabold);
    margin-bottom: var(--space-150);
       line-height: var(--line-preset);

}
.content h2:hover {
    cursor: pointer;
    color: var(--yellow);
}
.content .description {
    font-size: var(--text-preset-2);
    font-weight:var(--preset-2-weight-medium) ;
    color :var(--gray-500);
    line-height: var(--line-preset);
       line-height: var(--line-preset);
    
}
.creator-section {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin: var(--space-300);
    /* margin-top: 0; */
    height: 32px;
}
.creator-image img {
    height: 32px;
    margin-right: var(--space-150);
}
.creator-section .creator-name {
    font-size: var(--text-preset-3);
    font-weight: var(--preset-3-weight-extrabold);
    padding:5.5px 0;
}
.attribution {
      /* font-size: var(--space-150);
     padding: var(--space-300); */
    display: none;
}


